<!DOCTYPE html>
<html>
<head>
  <title>Game of Life</title>
  <link rel="stylesheet" href="./stylesheets/main.css">
</head>
<body style="background-color:#4a4a4a;">
  <div id='main'>
  </div>
  <div id='sub'>
    <div>
      <button id="pauseButton">Start</button>
    </div>
    <div>
      <button id="clearButton">Clear</button>
    </div>
    <div id="generationCount">Generation: 0</div>
    <div id="populationCount">Population: 0</div>
    <div class='switchContainer'>
      <header>Mouse action:</header>
      <div id="addText" class="switchText">Add</div>
      <label class="switch">
        <input id="actionInput" type="checkbox" autocomplete="off">
        <span class="slider"></span>
      </label>
      <div id="deleteText" class="switchText">Delete</div>
    </div>
    <div class='switchContainer'>
      <header>Edge wrapping:</header>
      <div id="onText" class="switchText">On</div>
      <label class="switch">
        <input id="wrapInput" type="checkbox" autocomplete="off">
        <span class="slider"></span>
      </label>
      <div id="offText" class="switchText">Off</div>
    </div>
    <div class='switchContainer'>
      <header>Grid Lines:</header>
      <div id="onText" class="switchText">On</div>
      <label class="switch">
        <input id="linesInput" type="checkbox" autocomplete="off">
        <span class="slider"></span>
      </label>
      <div id="offText" class="switchText">Off</div>
    </div>
    <div class="rangeContainer">
      <header>Max FPS:</header>
      <input id="fpsInput" type="range" min="1" max="30" step="1" value="1" autocomplete="off" oninput="fpsOutput.value = fpsInput.value">
      <output id="fpsOutput">1</output>
    </div>
  </div>
  <script type="text/javascript" src="/scripts/grid.js"></script>
  <script type="text/javascript" src="/scripts/cell.js"></script>
  <script type="text/javascript" src="/scripts/draw.js"></script>
  <script type="text/javascript" src="/scripts/input.js"></script>
  <script type="text/javascript" src="/scripts/main.js"></script>
</body>
</html>