<!DOCTYPE html>
<html>
<head>
  <title>Game of Life</title>
  <link rel="stylesheet" href="./stylesheets/index.css">
</head>
<body>
  <div id='main'>
  </div>
  <div id='sub'>
    <div>
      <button id="pauseButton">Start</button>
    </div>
    <div id="generationCount">Generation: 0</div>
    <div id="populationCount">Population: 0</div>
    <div class='switchContainer'>
      <div id="addText" class="switchText">Add</div>
      <label class="switch">
        <input id="actionInput" type="checkbox" autocomplete="off">
        <span class="slider"></span>
      </label>
      <div id="deleteText" class="switchText">Delete</div>
    </div>
    <div class='switchContainer'>
      <div id="onText" class="switchText">On</div>
      <label class="switch">
        <input id="wrapInput" type="checkbox" autocomplete="off">
        <span class="slider"></span>
      </label>
      <div id="offText" class="switchText">Off</div>
    </div>
  </div>
</body>
<script type="text/javascript" src="/scripts/main.js"></script>
</html>